<%= form_for @list do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Name", class: "form-control"%>

  <%= f.fields_for :task_attributes do |task| %>

  <%= task.text_field :name, placeholder:"Client's Name", class: "form-control" %>
  <p><span class="task-list-text complete-text">Complete?   </span><%= task.check_box :status %></p>
  
  <% end %>

  <%= f.submit class: "form-control btn-main sign-up" %>
<% end %>