<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-12 bg-white">

      <div>
        <h1 class="log-in text-center"><%= @list.name %></h1>
        <hr>
        <p class="task-list-text"><span class="border-bottom bold-text">Tasks</span><span class="task-list-tesk float-right border-bottom bold-text">Completed?</span></p>

        <% @list.tasks.each do |task| %>
          <ul>
            <li class="over-flow">
              <h6>Client</h6>
              <p class="task-list-text display-inline"><%= task.name %></p>

              <div style="float:right;">
                <p class="task-list-text display-inline"><%= check_box_tag 'completed?', 1, task.status, disabled: true, id: "task_complete" %></p>
              </div>

              <h6>Project</h6>
              <p class="task-list-text display-inline"><%= task.project %></p>
              <h6>Summary</h6>
              <p class="task-list-text display-inline"><%= task.summary %></p>



              <div role="group" aria-label="...">
                <% if !@user %>
                <%= button_to "Edit", edit_list_task_path(@list,task), method: 'get', class: "button-small btn light-green"%>
                <%= button_to "Delete", list_task_path(@list,task), method: 'delete', class: "button-small btn"%>
                <% end %>
              </div>

            </li>
          </ul>
        <% end %>
       
        <% if !@user %>
        <%= link_to "New Task", new_list_task_path(@list), method: 'get', class: "text-center form-control btn-main margin-top-25"%>
        <% end %>
      
        </div>
      <div class="comments">
          <h3>Comments</h3>
          <ul>
            <% @list.comments.each do |comment| %>
              <li>
                <%= comment.content %>
                From: <%= @user.username %>
              </li>
            <% end %>
          </ul>
      </div>
      <div class="new_comment">
          <h3> New Comment </h3>
          
          <%= form_with model: [@list, Comment.new], local: true do |form| %>
            <%= form.label :content %>
            <%= form.text_field :content %>
          <% end %>

      </div>
    </div>
  </div>
</div>