<center><h1> Sign In </h1>
     
    <h6> Need an account?   <%= link_to "Sign Up", signup_path%></h6><br>
      
        <%= form_for(:session, url: login_path(@user)) do |f| %>

            <div class="form_fields">
                <%= f.label :email %>
                <%= f.email_field :email %> 
            </div>

            <div class="form_fields">
                <%= f.label :password %>
                <%= f.password_field :password %><br>
            </div>


        <%= f.submit "Login" %><br><br>

        <% end %>
    <p>or</p>
    <h6> <%= link_to 'Sign In with Gmail',  'auth/google_oauth2'%></h6>
    <%= image_tag 'Gmail.png', style: 'height:5%; width:5%'%>
    <br>
    
    </center>
    <br><br>