<h1>Task</h1>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>
 
<%= link_to 'Back', tasks_path %>

<%= button_to "Edit task", edit_task_path(@task), method: :get %>