<h1>Task</h1>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority%>
</p>

<p>
  <strong>Summary:</strong>
  <%= @task.summary%>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description%>
</p>

<%= link_to 'Back', tasks_path %>

<%= button_to "Edit task", edit_task_path(@task), method: :get %>