<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand">
    <%= image_tag 'LogoMakr-8ezZYq.png', style: 'height:10%; width:10%' %>
  </a>


  <div>
    <ul class="nav pull-right">
      <li>
        <%= link_to "Profile", profile_path(current_user) %>
      </li>
      &nbsp;
      <li>
        <%= link_to "View Lists", lists_path %>
      </li>
      &nbsp;
      <li>
        <%= link_to "Create New List", new_list_path %>
      </li>
      &nbsp;
      <li>
        <%= link_to "Collegues", users_path %>
      </li>
      &nbsp;
      <li>
        <%= link_to "Logout", logout_path, method: "delete" %>
      </li>
    </ul>
  </div>
</nav>