<!DOCTYPE html>
<html>
  <head>
    <title>Maintenaceco</title>

  </head>

  <body>
      <%= render 'partials/jumbotron' %>
      <%= render "partials/alerts" %>

      <%if logged_in?%>
      <%= render "partials/nav" %>
      <%end%>
      
      <main role="main">
      <div class="container">
    <%= yield %>
      <hr>
      </div>
  </body>
  <%= render 'partials/footer' %>
</html>
